 body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f172a,#1e293b);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    margin-bottom: 20px;
}
.input-area{
    background: rgba(255,255,255,0.08);

    padding: 25px;
    border-radius: 15px;

    width: 100%;
    max-width: 400px;


    backdrop-filter: blur(10px);

    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

input{
    padding: 12px;
    width: 250px;

    border: none;
    border-radius: 10px;
    outline: none;

    font-size: 16px;
}

li {
     list-style: none;
color: white;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    margin-top: 10px;
    word-break: break-word;

}

#taskList{
    width: 100%;
    max-width: 500px;
    padding: 0;
}

button{
    padding: 12px 20px;

    border: none;
    border-radius: 10px;

    background: #38bdf8;
    color: white;

    cursor: pointer;
    font-size: 16px;

    margin-left: 10px;

    transition: 0.3s;
}

button:hover{
    background: #0ea5e9;
    transform: scale(1.05);
}

@media (max-width: 600px){

    body{
        padding: 15px;
    }

    h1{
        font-size: 24px;
        text-align: center;
    }

    .input-area{
        width: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
    }

    #taskInput{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    #add-btn{
        width: 100%;
        margin-left: 0;
    }

    #taskList{
        width: 100%;
    }
}